@media (max-width: 860px){
	/******************THONG TIN TOP****************************/
	.thong-tin-top{
		display: none;
	}
	/******************END THONG TIN TOP****************************/
}

@media (max-width: 992px),(hover:none), 
(hover:on-demand){
	/******************MENU TOP****************************/



	/******************END MENU TOP****************************/


	/******************ANH KHUYEN MAI****************************/

	.img-khuyenmai {
	    display: none;
	}
	/******************END ANH KHUYEN MAI****************************/
	/******************CHI TIET SAN PHAM****************************/

	.form-select .btn{
		margin-bottom: 5px;
	}
	/******************END CHI TIET SAN PHAM****************************/
	
}

@media (max-width: 1200px){
	.motkhoi a.btn.btn-danger{
		margin-bottom: 4px;
	}

	.motkhoi a.btn {
		display: block;
		margin:0px 5px
	}
	

}

@media (max-width: 1024px){
	.title-2{
		font-size: 1rem;
	}
	.navbar-top .menu-group-category{
		display: none;
	}

	.navbar-top-mobile{
		display: block;
	}
	.navbar-top-mobile{
		overflow-y: hidden;
	    overflow-x: scroll;
	    -webkit-overflow-scrolling: touch;
	}

	::-webkit-scrollbar {
	    width: 0;
	    height: 0;
	    background: transparent; /* make scrollbar transparent */
	}

	.navbar-top-mobile ul{
		width: 100%;
		white-space: nowrap;
	    overflow-x: scroll;
	    -webkit-overflow-scrolling: touch;
	    display: table;
	}
}


@media (max-width: 992px){

	.motkhoi .card-title{
		font-size: .875rem;
	}
	strike.giam-gia{
		font-size: 1rem;
	}

	span.gia{
		font-size: 1rem;
	}
}
@media (max-width: 768px){
	.title-2{
		font-size: .65rem;
	}

	.title-3{
		font-size: 24px;
	}

	.box ul li a{
		font-size: 14px;
	}

	.box ul li ul li a{
		font-size: 12px;
	}
	.sale-card-endTimeWrap, .sale-cart-currentSaleTitle{
		font-size: 12px;
	}
}

@media (max-width: 766px){
	.menu-top .login {
	    display: none;
	}

	.menu-top .user-icon{
		display: block;
		padding-right: 0;
	}

	.menu-top .cart-icon{		
		position: absolute;		
		top: 5px;		
		right: 8px;
	}

	.menu-top .logo {	   
		display: block;	   
		text-align: center;	   
		float: none;
		margin-right: 24px;
	}
	.motkhoi .card-title{
		font-size: .75rem;
    	font-weight: 400;
	}

	.my-col-6-product{
	    flex: 0 0 50%;
	    max-width: 50%;
	    padding-right: 15px;
	    padding-left: 15px;
	}

	strike.giam-gia{
		font-size: .8125rem;
    	margin-right: 4px;
	}
	span.gia{
		font-size: .875rem;
	}
	.image-title{
		display: none;
	}

}

@media (max-width: 575px){
	.lien-ket-nhanh {
	    margin-bottom: 10px;
	}
	.thong-tin-footer{
		margin-bottom: 30px;
	}
	.ho-tro{
		display:none;
	}
	.cart{
		width: 100%;
	}

	.content .top-shadow, .content .section-title-wrap{
		display: none;
	}
	.banner.owl-carousel{
		display: none !important;
	}

}


@media (max-width: 500px){
	.navbar-top-mobile{
		overflow-y: hidden;
	    overflow-x: scroll;
	    -webkit-overflow-scrolling: touch;
	}

	::-webkit-scrollbar {
	    width: 0;
	    height: 0;
	    background: transparent; /* make scrollbar transparent */
	}

	.navbar-top-mobile ul{
		width: 100%;
		white-space: nowrap;
	    overflow-x: scroll;
	    -webkit-overflow-scrolling: touch;
	    display: table;
	}
	.zoom-img{
		height: 235px;
	}
}


@media (min-width: 768px){
	.signin-content {
	    padding: 32px;
	    border: 1px solid rgba(78,89,93,.15);
	    border-radius: 0;
	}

}
